<!DOCTYPE html>
<html lang="<%= config.language %>">

<%- partial('_partial/head') %>

<body>

  <main>
    <%- body %>
  </main>

  <%- partial('_partial/footer/index.ejs') %>

</body>
</html>
